<%- include("partials/header") -%>

<h1>About Me😃</h1>
<br>
<h4> <%= contentOfAbout %> </h4>

<br>
<br>
<ul class="connect">
<li><a href="http://www.linkedin.com/in/dasrupal">Connect with me on LinkedIn</a></li>
<li><a href="https://github.com/rupal11">Github</a></li>
</ul>



<%- include("partials/footer") -%>